@font-face {
    font-family: "Basteleur Bold";
    src: url("/src/assets/fonts/Basteleur/Basteleur-Bold.ttf")
        format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Basteleur Moonlight";
    src: url("/src/assets/fonts/Basteleur/Basteleur-Moonlight.ttf")
        format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("/src/assets/fonts/spaceGrotesk/SpaceGrotesk-Light.ttf")
        format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("/src/assets/fonts/spaceGrotesk/SpaceGrotesk-Regular.ttf")
        format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("/src/assets/fonts/spaceGrotesk/SpaceGrotesk-Medium.ttf")
        format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("/src/assets/fonts/spaceGrotesk/SpaceGrotesk-SemiBold.ttf")
        format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("/src/assets/fonts/spaceGrotesk/SpaceGrotesk-Bold.ttf")
        format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Noto Sans JP";
    src: url("/src/assets/fonts/notoSanJP/NotoSansJP-Regular.ttf")
        format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}